{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Database Data</title>
    <link href="{% static 'css/sample.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="base-div">
      {% block content %}
      <h1>Message board homepage</h1>
        {% for post in object_list %}
        <div class="post-entry">
            <p> Title: {{ post.title }}</p>
            <p> Body: {{ post.body }}</p>
        </div>
        {% endfor %}
      {% endblock content %}
    </div>
  </body>
</html>