input{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.80);
	outline:none;
	border: none;
	border-bottom: 2px solid #fff;
	border-radius: 12px;
	margin: 12px 0px 0px 0px;
	font-weight: bold;
	color:white;
}
button{
	width: 46%;
	padding: 10px;
	outline: none;
	border: none;
	margin: 12px 12px 0px 0px;
	background: rgba(0, 0, 0, 1);
	opacity: 0.9;
	display: inline-block;
	border-radius: 20px;
	font-size:20px;
	color:white;
}
label{
	display: inline;
}
body{
	list-style: none;
	font-family: Arial;
    background-image: url('1.jpg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2{
	color: red;
}
p{
	color: green;
}
h1{
	color: blue;
}

.post-entry{
	width:400px;
	height:auto;
	margin: auto;
	border-radius: 25px;
	border-color:white; 
	border-style: solid;
	background: rgba(56, 57, 143, 1);
	position: relative;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
}